/* Produktkort */
.product-card-container-step3 {
  display: flex;
}

.product-card-step3 {
  background-color: #efefef;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 24px;
  margin: 0 20px 0 0;
}

.product-card-step3 img {
  width: 70px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-details-step3 h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-details-step3 p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* Responsiv på tablet og computer */
@media (min-width: 769px) {
  .product-card-step3 img {
    width: 120px;
  }
}
