/* ---------- general styling ---------- */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: var(--white);
  position: relative;
  min-height: 100vh;
  background-color: #efefef;
  height: 100%;
}

p,
a {
  font-size: 16px;
}

h1 {
  font-size: 20px;
  font-family: "Inter-SemiBold";
}

h2 {
  font-size: 16px;
  font-family: "Inter-Medium";
}

h3 {
  font-size: 14px;
  font-family: "Inter-Medium";
}

h4 {
  font-size: 12px;
  color: #757575;
  font-family: "Inter-Medium";
}

.main {
  height: 100vh;
}

/* =========== FONT FACES =========== */
@font-face {
  font-family: "Inter-Regular";
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./fonts/Inter-SemiBold.ttf");
}

/* ---------- Homepage buttons ---------- */
.full-price {
  position: fixed;
  left: 16px;
  z-index: 100;
}

.reset-save-button-container {
  display: flex;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.reset-icon {
  width: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
}

.save-button {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 16px 5px 16px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  margin: 0 5px;
  cursor: pointer;
}

.orderlist-button-container {
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.order-list-button {
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
  width: 200px;
  height: 45px;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.orderlist-icon {
  height: 25px;
  margin-right: 5px;
}

/* ---------- configurationsimage ---------- */
.configuration-image {
  position: fixed;
  left: 50%;
  width: 260px;
  margin-left: -130px;
  top: 110px;
  overflow: hidden;
}

/* ---------- Tabbar ---------- */
.tabbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70vh;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
  transition: height 0.5s ease;
  z-index: 100;
}

.tabbar.collapsed {
  height: 25vh;
}

.horizontal-scroll-line {
  border: 3.5px solid #d0d0d0;
  position: relative;
  top: 4%;
  width: 50%;
  border-radius: 20px;
  margin-left: calc(50% - 25%);
  cursor: pointer;
}

.navigationbar {
  display: flex;
  overflow: scroll;
  margin: 16px 10px;
  color: #757575;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.navigationbar > h1 {
  padding: 16px 12px;
}

.choice-active {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

/* Removes scrollbar */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Next and previous buttons */
.next-previous-buttons {
  position: fixed;
  bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.previous-button {
  width: 40%;
  height: 45px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
}

.next-button {
  width: 40%;
  height: 45px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
}

/* Responsive for tablet and desktop */
@media (min-width: 769px) {
  .configuration-image {
    left: 45%;
    top: 20%;
    transform: translateX(-45%);
    width: 400px;
  }

  .tabbar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
  }

  .horizontal-scroll-line {
    display: none;
  }

  .next-previous-buttons {
    position: absolute;
  }

  .reset-save-button-container {
    position: fixed;
    right: 31%;
  }

  .orderlist-button-container {
    position: fixed;
    bottom: 3%;
    left: 1.5%;
    transform: none;
  }

  .full-price h3 {
    font-size: 20px;
  }

  .full-price h1 {
    font-size: 24px;
  }
}
